[mysqld]

sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
# 设置服务器的默认字符集
character-set-server=utf8mb4

# 设置最大允许的连接数
max_connections=200

# 设置服务器的端口号，默认是3306
port=3306

# 设置MySQL安装的根目录
#basedir=/usr/local/mysql

# 设置数据存储目录
#datadir=/usr/local/mysql/data

# 设置默认存储引擎，通常是InnoDB
default-storage-engine=INNODB

# 设置最大允许包的大小
max_allowed_packet=16M

# 设置缓冲区大小
buffer_pool_size=1G

# 日志和二进制日志的配置
general_log_file=/var/log/mysql/mysql.log
general_log=1
log_error=/var/log/mysql/mysql-error.log
log_bin=/var/log/mysql/mysql-bin.log


[mysql]
# 默认字符集
default-character-set=utf8mb4

[client]
# 默认字符集
default-character-set=utf8mb4

